{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align:center; color: white;">Festival Artists</h1>

    <table>
        <thead>
        <tr>
            <th>Festival Name</th>
            <th>Artist Name</th>
            <th>Musical Genre</th>
        </tr>
        </thead>
        <tbody>
        {% for fa in festivalArtists %}
            <tr>
                <td>{{ fa.festival.name }}</td>
                <td>{{ fa.artist.name }}</td>
                <td>{{ fa.artist.musicalGenre }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No festival artists found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div style="text-align: center; margin-top: 20px;">
        <form method="post" action="{{ path('lineup_add') }}">
            <button type="submit">Add</button>
        </form>
    </div>
{% endblock %}
