{% extends 'base.html.twig' %}

{% block title %}Festival Artists List{% endblock %}

{% block body %}
    <style>
        body {
            background-color: #bf6fed;
            font-size: 18px;
            font-family: Arial, sans-serif;
            margin: 2rem;
        }
        table {
            width: 100%;
            max-width: 700px;
            border-collapse: collapse;
            margin: 0 auto;
            background: white;
        }
        th, td {
            border: 1px solid #333;
            padding: 10px 15px;
            text-align: left;
        }
        th {
            background-color: #a77bd4;
            color: white;
        }
    </style>

    <h1 style="text-align:center; color: white;">Festival Artists</h1>

    <table>
        <thead>
        <tr>
            <th>Festival Name</th>
            <th>Artist Name</th>
            <th>Musical Genre</th>
        </tr>
        </thead>
        <tbody>
        {% for fa in festivalArtists %}
            <tr>
                <td>{{ fa.festival.name }}</td>
                <td>{{ fa.artist.name }}</td>
                <td>{{ fa.artist.musicalGenre }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No festival artists found.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
