{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align:center; color: white;">Artists</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Musical Genre</th>
        </tr>
        </thead>
        <tbody>
        {% block artist %}
            <tr>
                <td>{{ artist.name }}</td>
                <td>{{ artist.musicalGenre }}</td>
            </tr>
        {% endblock %}
        </tbody>
    </table>
{% endblock %}
