{% extends 'base.html.twig' %}

{% block body %}
    <h1 style="text-align:center; color: white;">User Details</h1>

    <table>
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>City</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
        </thead>
        <tbody>
        {% for detail in details %}
            <tr>
                <td>{{ detail.name }}</td>
                <td>{{ detail.age }}</td>
                <td>{{ detail.city }}</td>
            </tr>
            {% else %}
                <tr>
                    <td colspan="4" style="text-align:center;">No users found.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
